<app-dropdown
  labelText="Base"
  optionLabel="code"
  [options]="currencies"
  [value]="currentBase"
  (changed)="onDropdownChange($event)"
></app-dropdown>

<table *ngIf="latestRates">
  <tr>
    <th>Currency</th>
    <th>Spot</th>
    <th>Increase / Decrease</th>
    <th>Chart</th>
  </tr>

  <tr *ngFor="let currency of currencyCodes">
    <td>{{ currency }}</td>
    <td>{{ latestRates.rates[currency] | number: '1.2-4' }}</td>
    <td>
      <ng-container *ngIf="latestRates.yesterdayRates">
        <img class="state-icon" [src]="getRateStateImageSrc(currency)" alt="" />
      </ng-container>
    </td>
    <td>
      <a [routerLink]="'/historical-chart/' + currency">
        <img class="graph-icon" src="assets/icons/graph-icon.png" alt="" />
      </a>
    </td>
  </tr>
</table>
