<button class="custom-btn" [class.active]="selectedState === 'increase'" (click)="selectedState = 'increase'">
  Increase
</button>
<button class="custom-btn" [class.active]="selectedState === 'decrease'" (click)="selectedState = 'decrease'">
  Decrease
</button>

<table *ngIf="top5">
  <tr>
    <th>Currency</th>
    <th>Difference</th>
    <th>%</th>
  </tr>

  <tr *ngFor="let rate of top5[selectedState]">
    <td>{{ rate.currency }}</td>
    <td>{{ rate.diff }}</td>
    <td>{{ rate.percent | number: '1.2-2' }}</td>
  </tr>
</table>
